<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <section class="welcome-section">
            <header><h1 class="title-half">vi</h1>
                <h1>chatter</h1></header>
            <section class="welcome-controls">
                <button ui-sref="sign-in" class="welcome-button signin-button">Sign In</button>
                <button ui-sref="sign-up" class="welcome-button signup-button">Sign Up</button>
                <span class="welcome-separator">or</span>
                <section class="social-section">
                    <div class="facebook-section">
                        <button ng-click="signinFacebook()" class="facebook-button">Facebook</button>
                    </div>
                </section>
            </section>
        </section>
    </div>
</div>