<div class="profile-image-wrapper">
    <img class="profile-image" gravatar-src="profileInfo.getEmail()"/>
    <span class="name-text">{{profileInfo.getFirstName()}} {{profileInfo.getLastName()}}</span>
</div>
<div class="profile-info-wrapper">
    <ul class="info-fields-list">
        <li class="info-field-wrapper">
            <label for="first_name" class="info-field-label">First name:</label>
            <span id="first_name" class="info-field" data-ng-bind="profileInfo.getFirstName()"></span>
        </li>
        <li class="info-field-wrapper">
            <label for="last_name" class="info-field-label">Last name:</label>
            <span id="last_name" class="info-field" data-ng-bind="profileInfo.getLastName()"></span>
        </li>

        <li class="info-field-wrapper">
            <label for="nickname" class="info-field-label">Nickname:</label>
            <span id="nickname" class="info-field" data-ng-bind="profileInfo.getNickname()"></span>
        </li>

        <li class="info-field-wrapper">
            <label for="email" class="info-field-label">Email:</label>
            <span id="email" class="info-field" data-ng-bind="profileInfo.getEmail()"></span>
        </li>
    </ul>
</div>