<div class="profile-image-wrapper">
    <img class="profile-image" src="../../public/images/profile_photo.jpg"/>
    <span class="name-text">Kirsten McKellar</span>
    <span class="city-text">New York, USA</span>
</div>
<div class="profile-info-wrapper">
    <ul class="info-fields-list">
        <li class="info-field-wrapper">
            <label for="first_name" class="info-field-label">First name:</label>
            <input id="first_name" type="text" placeholder="Input first name..." class="info-field"/>
        </li>
        <li class="info-field-wrapper">
            <label for="last_name" class="info-field-label">Last name:</label>
            <input id="last_name" type="text" placeholder="Input last name..." class="info-field"/>
        </li>

        <li class="info-field-wrapper">
            <label for="city" class="info-field-label">City:</label>
            <input id="city" type="text" placeholder="Input city..." class="info-field"/>
        </li>
        <li class="info-field-wrapper">
            <label for="nickname" class="info-field-label">Nickname:</label>
            <input id="nickname" type="text" placeholder="Input nickname..." class="info-field"/>
        </li>
        <li class="info-field-wrapper">
            <label for="telephone" class="info-field-label">Tel:</label>
            <input id="telephone" type="text" placeholder="Input tel..." class="info-field"/>
        </li>
        <li class="info-field-wrapper">
            <label for="date_of_birth" class="info-field-label">Date Of Birth:</label>
            <input id="date_of_birth" type="text" placeholder="Input date..." class="info-field"/>
        </li>
        <li class="info-field-wrapper">
            <label for="gender" class="info-field-label">Gender:</label>
            <input id="gender" type="text" placeholder="Input gender..." class="info-field"/>
        </li>
    </ul>
    <button class="profile-send-button"></button>
</div>