<div class="video-window">
</div>
<div class="video-controls">
    <!--<button class="vc-button video-button micro"></button>
    <button class="vc-button video-button camera"></button>
    <button class="vc-button video-button expand"></button>-->
    <button class="vc-button video-button micro-crossed"></button>
    <button class="vc-button video-button camera-crossed"></button>
    <button class="vc-button video-button reduce"></button>
    <button class="vc-button video-button phone red"></button>
</div>