<div class="video-window">
    <video data-ng-src="{{getWebRTCVideo()}}" autoplay muted></video>
</div>
<div class="video-controls">
    <!--<button class="vc-button video-button micro" data-ng-click=""></button>
    <button class="vc-button video-button camera" data-ng-click=""></button>
    <button class="vc-button video-button expand" data-ng-click=""></button>-->
    <button class="vc-button video-button micro-crossed" data-ng-click=""></button>
    <button class="vc-button video-button camera-crossed" data-ng-click=""></button>
    <button class="vc-button video-button reduce" data-ng-click=""></button>
    <button class="vc-button video-button phone red" data-ng-click=""></button>
</div>