<vc-menu friends-counter="friendsList.length" friend-requests-counter="friendRequestsList.length"></vc-menu>
<div class="vc-friends-panel">
    <vc-friend-list ng-if="isFriendsListActive" list-of-friends="{{friendsList}}"></vc-friend-list>
    <vc-friend-requests-list ng-if="isFriendRequestListActive" list-of-requests="{{friendRequestsList}}"
                             add-friend-callback="addFriend"></vc-friend-requests-list>
</div>
<div class="vc-profile-panel">
    <vc-friend-profile ng-if="" profile-info=""></vc-friend-profile>
    <vc-profile ng-if="" profile-info=""></vc-profile>
</div>
<div class="vc-chat-panel">
    <vc-chat-window></vc-chat-window>
    <vc-video-chat-window></vc-video-chat-window>
</div>




