$white: white;
$green: rgb(0, 150, 136);
$dark_green: rgb(2, 132, 120);
$pink: rgb(119, 101, 148);
$dark_pink: rgb(105, 101, 148);
$red : #A10032;
$light_green : #739B4E;
$button_width: 400px;

@mixin fontFace($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url("#{$src}.otf") format("truetype");
    font-style: $style;
    font-weight: $weight;
  }
}

@include fontFace('QuicksandLight', '../../fonts/Quicksand_Light', normal, normal);

@include fontFace('QuicksandBold', '../../fonts/Quicksand_Bold', normal, normal);

@include fontFace('QuicksandRegular', '../../fonts/Quicksand_Regular', normal, normal);

body {
  background: url("../../images/background.png") no-repeat center center fixed;
  background-size: cover;

}

input {
  &.welcome-input {
    display: block;
    margin: auto;
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    padding-left: 40px;
    width: $button_width;
    margin-bottom: 12px;
  }
}

span {
  &.form-element-icon {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    height: 50px;
    width: 32px;
  }
  &.email-icon {
    background: url("../../images/email.png") no-repeat center;

  }
  &.email-icon-invalid {
    background: url("../../images/email-invalid.png") no-repeat center;
  }
  &.email-icon-valid {
    background: url("../../images/email-valid.png") no-repeat center;
  }
  &.nickname-icon {
    background: url("../../images/nickname.png") no-repeat center;
  }
  &.nickname-icon-invalid {
    background: url("../../images/nickname-invalid.png") no-repeat center;
  }
  &.nickname-icon-valid {
    background: url("../../images/nickname-valid.png") no-repeat center;
  }
  &.password-icon {
    background: url("../../images/password.png") no-repeat center;
  }
  &.password-icon-invalid {
    background: url("../../images/password-invalid.png") no-repeat center;
  }
  &.password-icon-valid {
    background: url("../../images/password-valid.png") no-repeat center;
  }
}

span {
  &.welcome-separator {
    font-family: QuicksandBold;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
  }
}

section {
  font-family: QuicksandRegular;

  span {
    &.form-message {
      font-family: QuicksandBold;
      display: block;
      text-align: center;
      font-size: 20px;
      color: $white;
    }
    &.form-error {
      color: $red;
    }
    &.form-success {
      color: $light_green;
    }
  }

  &.welcome-section {
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 450px;

    header {
      text-align: center;
      h1 {
        display: inline-block;
        font-size: 40px;
        text-transform: uppercase;
        color: $white;

        &.title-half {
          color: $green;
        }
      }
    }

    button {
      &.welcome-button {
        color: $white;
        display: block;
        text-transform: uppercase;
        border: none;
        outline: none;
        margin: auto;
        height: 50px;
        font-size: 20px;
        width: $button_width;
      }

      &.facebook-button {
        &:before {
          content: 'f';
          font-family: QuicksandBold;
          color: #fff;
          font-size: 18px;
          position: relative;
          left: -8px;
          weight: bold;
        }
        background: #4060A5;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        text-align: center;
        left: 25px;
        position: relative;
        width: 150px;
        height: 35px;
        &:hover {

          background:#5172b8;
        }
      }

      &.signin-button {
        margin-bottom: 15px;
        background-color: $green;
        &:hover {
          background-color: $dark_green;
        }
      }

      &.signup-button {
        margin-bottom: 5px;
        background-color: $pink;
        &:hover {
          background-color: $dark_pink;
        }
      }
    }

  }

  &.signup-section {

  }

}