<section class="signup-section">
    <form name="signup" novalidate>

        <div class="form-element">
            <span ng-show="signup.email.$pristine" class="form-element-icon email-icon"></span>
            <span ng-show="signup.email.$dirty && signup.email.$invalid"
                  class="form-element-icon email-icon-invalid"></span>
            <span ng-show="signup.email.$dirty && signup.email.$valid"
                  class="form-element-icon email-icon-valid"></span>
            <input type="text" class="welcome-input" name="email" ng-model="newUser.email"
                   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true" placeholder="Enter email">
        </div>
        <div class="form-element">
            <span ng-show="signup.nickname.$pristine" class="form-element-icon nickname-icon"></span>
            <span ng-show="signup.nickname.$dirty && signup.nickname.$invalid"
                  class="form-element-icon nickname-icon-invalid"></span>
            <span ng-show="signup.nickname.$dirty && signup.nickname.$valid"
                  class="form-element-icon nickname-icon-valid"></span>
            <input type="text" name="nickname" class="welcome-input" ng-model="newUser.nickname"
                   ng-pattern="/^[A-Za-z0-9_.]{3,12}$/" ng-required="true"
                   placeholder="Enter nickname">
        </div>
        <div class="form-element">
            <span ng-show="signup.password.$pristine" class="form-element-icon password-icon"></span>
            <span ng-show="signup.password.$dirty && signup.password.$invalid"
                  class="form-element-icon password-icon-invalid"></span>
            <span ng-show="signup.password.$dirty && signup.password.$valid"
                  class="form-element-icon password-icon-valid"></span>
            <input type="password" name="password" class="welcome-input" ng-model="newUser.password" ng-required="true"
                   ng-pattern="/^[A-Za-z0-9_.]{3,10}$/" placeholder="Enter password">
            <button ng-disabled="signup.$invalid" ng-click="createAccount()" class="welcome-button signin-button">Sign Up</button>
        </div>
    </form>

</section>